body{
    background-color: darkslategrey
}


.leftdiv, .rightdiv, .thirddiv {
    border: 1px solid black;
    height: 300px;
    padding: 50px;
    background: none;
    width: 500px;
    float: left;
    border-radius:20px
}
.rightdiv {
    background: none;
    position:relative;
    left:100px
}
.flags{
    background:none;
    position:relative;
    top: 220px;
    right:780px
}
.next{
    background:green;
    position:relative;
    top: 210px;
    border: none;
    border-radius:10px;
    padding:10px;
    
}

.dragItemOver{
    background:yellow
}
.colors{
    width: 30px;
    height: 30px;
background: grey;
border:1px solid #ccc;
margin:0.5px
}

.leftdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
}
.rightdiv div {
    border: 1px solid #eee;
    height: 100px;
}